.main{
    background-color: lightslategray;   
    
    }
    
    .Toph{
        border: 1px solid white;
        width:99%; margin-top: -8px;
        background-color:whitesmoke;
        cursor:pointer;
        font-style: italic; font-size: x-large;
        padding: 8px;
    }
    
    .heading{
        color: black;
        font-size: x-large;
    }
    
    .heading1{
        color:#00A5EC;
        font-size: x-large;
    }
    
    .task{
        text-align: right;
        position: relative; top: 10px; right: 60px;
    }
    .task1{
        color: black;
        text-decoration: none;
        font-style: italic;
        font-size: larger;
        
    }
    
    .circle{
        border-radius:50%;
        background-color:#00A5EC; cursor: pointer;
    }
    .list1{
        border: 1px solid black;
        height: 200px; width: 200px;
        margin: 10px;
        cursor: pointer;
        background-color: aliceblue;
        font-style: italic;
        box-shadow: 4px 4px 5px aliceblue;
    }
    
    .strike{
        text-decoration: line-through;
        font-size: small;
        color:grey;
    }
    
    .Container{
        border: 2px solid lightslategray;
        width:55%; height:100%;
        display: flex;
        flex-wrap: wrap;
        align-content:center;
        margin-left:15%; 
    }
    
    p{
        text-align: center;
        color:#00A5EC;
        
    }
    
    form{
        cursor: pointer;
    }
    .options{
        cursor: pointer;
        
    }
    
    .page2{
       filter:opacity(0.3);
    }
    
    .newtask{
        border: 1px solid black;
        height: 160px; width: 400px;
        cursor:pointer;
        position: absolute; top: 190px; left: 450px;
        background-color: aliceblue;
        border-radius: 10px;
    }
    .newtaskh{
        padding-left: 5px; margin-top: 10px;
    }
    
    .hr2{
        position: relative; top:-15px;
    }
    .learn{
        border: 1px solid wheat;
        background-color:white;
        padding: 5px;
        font-size: small;
        color: grey;
    }
    
    .Atask{
        float: right; 
        position: relative; top: 15px; right: 5px;
        background-color:#00A5EC;
        cursor: pointer;
        border-radius: 5px;
    }
    
    .p3{
        background-color: lightslategray;
    }
    
    .page3list{
        border: 1px solid black;
        height: 200px; width: 400px;
        cursor: pointer;
        background-color: aliceblue;
        font-style: italic; font-size: larger;
        position: absolute; top: 180px;; left: 36%;
    }
    
    .taskpg3{
        text-align: center;
        position: absolute; top: 150px; left: 55%;
    }
    .taska3{
        text-decoration: none; color:black;
    }
    .taskp3{
        text-decoration: none;
    }
    .taskpp3{
        color: black;
        text-decoration: none;
        font-style: italic;
        font-size: larger;
    }
    .circle3{
        background-color: gray;
        color: white; border-radius: 50%;
        cursor: pointer;
        text-decoration: none;
    }
    .backp3{
        text-decoration: none;
        color: black;
    }
    .backpg3{
        text-align: center;
        position: absolute; top: 153px; left: 38%;
    }
    
    .x{
        float: right;
        position: relative; right: 15px;
       color: black;
    }
    .bri{
        filter: brightness(0.1);
    }
    
    /* Media queries*/
    
    /* Mobile screen queries*/
    @media only screen and (Max-width:545px){
    .Container{
        flex-direction:column;
        flex-wrap: wrap;
        width:90%; 
        margin-top:25px;
        margin-left: 5px;  
        padding: 10px;
     
    }
    .task1{
        display: none;
    }
    .circle{
        margin-right: 100px ;
    }
    .a2{
        color: #0d4a65;
        height: 20px;
    }
    
     
    .list1{
        width:357px;
        height: 257px;
        border-radius: 20px;
    }
    
    .newtask{
        width:350px;
        height: 250px;
        position: absolute; left: 4%; top: 40%;
    }
    .page3list{
        width: 363px;
        height: 316px;
        position: absolute;
        left: 5%;
        border-radius: 10px;
    }
    .taska3{
        display: none;
    }
    .backpg3{
        position: absolute; top:10%; left: 5%;
      
    }
    } 
